Why Pandas
- Flexibility of Python ( more than Excel)
- Working with big data

In this video we walk through many of the fundamental concepts to use the Python Pandas Data Science Library. We start off by installing pandas and loading in an example csv. We then look at different ways to read the data. Read a column, rows, specific cell, etc. Also ways to read data based on conditioning. We then move into some more advanced ways to sort & filter data. We look at making conditional changes to our data. We also start doing aggregate stats using the groupby function. We finished the video talking about how you would work with a very large dataset (many gigabytes)

I realized as I upload this video there are some additional things I want to talk about in a later video. The first thing that comes to mind immediately is using the apply() function on a dataframe to alter the data using a custom or lambda function. If you have questions on this or anything else before I get around to making  a part 2, feel free to write me a note in the comments.

In [2]:
import pandas as pd

In [5]:
# Import Csv
df=pd.read_csv("D:\DA on da way\OverAll Course Lv1\Học thêm cá nhân\Luyen python truoc khoa 3\pokemon_data.csv")
# Import txt ( tab seperated) then conver it to table.
df_txt=pd.read_csv("D:\DA on da way\OverAll Course Lv1\Học thêm cá nhân\Luyen python truoc khoa 3\pokemon_data_txt.txt", delimiter='\t')
print(df_txt)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

# 1. Reading Data in pandas

In [5]:
# Question : loc and iloc difference
# xem lai ham for...in...a anh TracHoangAn

## Read headers
df.columns

## Read each columns top 5 
df['Name'][0:5]
## read 2 columns

## Read each columns( for text)
# loc : smae loc + finding specific in our dataset that isnt just interger based, isnt just the specific rows, it's based on more textual information
df.loc[df['Type 1']=='Grass'] 
# access specific rows
#df.iloc[0:5]


#for index, row in df.iterrows():
#    print(index, row['Name'])

# Read specific location (R,C)
#df.iloc[2,2]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [35]:
# Step 2: Sorting/ Describe Data

In [6]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [45]:
# Sort
df.sort_values('Name', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [46]:
# Sort tu 2 cot. cot 1 asc, cot 2 desc
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# Step 3 : Make some change in the data

In [7]:
#ranking pokemon by sum + add new column total
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [50]:
# Drop some specific column :

In [8]:
df.drop(columns=['Total'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Add columns in # way [row, columns]
- axis : add horizontally
- axis = 0 adding vertically

In [18]:

df['Total'] = df.iloc[:,4:10].sum(axis=1)
#chuyen cot total before or after the cluster ( removee column to another place)

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]
df.head(5)
#( above is just visual thing, be cafereful when hardcode things in number, can use index)

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,553,39,52,43,60,50,65,1

# Step 4 : Saving our Data ( Exporting into Desired Format)

In [25]:
# Saving with different format, where is it stored ?
#saving as csv
#df.to_csv('modified.csv', index=False)
#df.to_excel('modified.xlsx', index=False)
df.to_csv('modified.txt', index=False, sep='\t')

# Step 5 : Filtering data

In [27]:
advanced stuff

SyntaxError: invalid syntax (1622988013.py, line 1)

In [33]:
# Want to filter >2 columns, use () for each filter
df.loc[(df['Type 1']=='Grass') & (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
48,43,Oddish,Grass,Poison,False,610,45,50,55,75,65,30,1
49,44,Gloom,Grass,Poison,False,750,60,65,70,85,75,40,1
50,45,Vileplume,Grass,Poison,False,930,75,80,85,110,90,50,1
75,69,Bellsprout,Grass,Poison,False,560,50,75,35,70,30,40,1
76,70,Weepinbell,Grass,Poison,False,725,65,90,50,85,45,55,1
77,71,Victreebel,Grass,Poison,False,910,80,105,65,100,70,70,1
344,315,Roselia,Grass,Poison,False,735,50,60,45,100,80,65,3
451,406,Budew,Grass,Poison,False,505,40,30,35,50,70,55,4
452,407,Roserade,Grass,Poison,False,940,60,70,65,125,105,90,4
651,590,Foongus,Grass,Poison,False,573,69,55,45,55,55,15,5
652,591,Amoonguss,Grass,Poison,False,898,114,85,70,85,80,30,5

In [37]:
# filter either tyoe 1 = x or type 2 = y. use |
df.loc[(df['Type 1']=='Grass') & (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
48,43,Oddish,Grass,Poison,False,610,45,50,55,75,65,30,1
49,44,Gloom,Grass,Poison,False,750,60,65,70,85,75,40,1
50,45,Vileplume,Grass,Poison,False,930,75,80,85,110,90,50,1
75,69,Bellsprout,Grass,Poison,False,560,50,75,35,70,30,40,1
76,70,Weepinbell,Grass,Poison,False,725,65,90,50,85,45,55,1
77,71,Victreebel,Grass,Poison,False,910,80,105,65,100,70,70,1
344,315,Roselia,Grass,Poison,False,735,50,60,45,100,80,65,3
451,406,Budew,Grass,Poison,False,505,40,30,35,50,70,55,4
452,407,Roserade,Grass,Poison,False,940,60,70,65,125,105,90,4
651,590,Foongus,Grass,Poison,False,573,69,55,45,55,55,15,5
652,591,Amoonguss,Grass,Poison,False,898,114,85,70,85,80,30,5

In [63]:
new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2'] == 'Poison') & (df['HP']>30)]

In [44]:
new_df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
48,43,Oddish,Grass,Poison,False,610,45,50,55,75,65,30,1
49,44,Gloom,Grass,Poison,False,750,60,65,70,85,75,40,1
50,45,Vileplume,Grass,Poison,False,930,75,80,85,110,90,50,1
75,69,Bellsprout,Grass,Poison,False,560,50,75,35,70,30,40,1
76,70,Weepinbell,Grass,Poison,False,725,65,90,50,85,45,55,1
77,71,Victreebel,Grass,Poison,False,910,80,105,65,100,70,70,1
344,315,Roselia,Grass,Poison,False,735,50,60,45,100,80,65,3
451,406,Budew,Grass,Poison,False,505,40,30,35,50,70,55,4
452,407,Roserade,Grass,Poison,False,940,60,70,65,125,105,90,4
651,590,Foongus,Grass,Poison,False,573,69,55,45,55,55,15,5
652,591,Amoonguss,Grass,Poison,False,898,114,85,70,85,80,30,5

In [45]:
# reset new index : reset_index()

In [65]:
# Tao them 1 cot index moi
new_df.reset_index(drop=True, inplace=True)
new_df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
4,43,Oddish,Grass,Poison,False,610,45,50,55,75,65,30,1
5,44,Gloom,Grass,Poison,False,750,60,65,70,85,75,40,1
6,45,Vileplume,Grass,Poison,False,930,75,80,85,110,90,50,1
7,69,Bellsprout,Grass,Poison,False,560,50,75,35,70,30,40,1
8,70,Weepinbell,Grass,Poison,False,725,65,90,50,85,45,55,1
9,71,Victreebel,Grass,Poison,False,910,80,105,65,100,70,70,1
10,315,Roselia,Grass,Poison,False,735,50,60,45,100,80,65,3
11,406,Budew,Grass,Poison,False,505,40,30,35,50,70,55,4
12,407,Roserade,Grass,Poison,False,940,60,70,65,125,105,90,4
13,590,Foongus,Grass,Poison,False,573,69,55,45,55,55,15,5
14,591,Amoonguss,Grass,Poison,False,898,114,85,70,85,80,30,5

In [66]:
# Filter all the name that ontain Mega
- str.contains('')

In [69]:
# ko chua Mega
df.loc[~df['Name'].str.contains('Mega')]
# chua Mega
df.loc[df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
4,4,Charmander,Fire,NaN,False,553,39,52,43,60,50,65,1
5,5,Charmeleon,Fire,NaN,False,730,58,64,58,80,65,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,True,1105,108,100,121,81,95,95,6
795,719,Diancie,Rock,Fairy,True,1150,50,100,150,100,150,50,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,1130,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,1280,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,1130,80,110,120,130,90,70,6

In [72]:
# to see the type 1 either grass or fire
# regular expression la gi ?
import re
df.loc[df['Type 1'].str.contains('Fire|Grass', flasg regex=True)]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,553,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,False,666,62,50,58,73,54,72,6
736,668,Pyroar,Fire,Normal,False,908,86,68,72,109,66,106,6
740,672,Skiddo,Grass,NaN,False,648,66,65,48,62,57,52,6
741,673,Gogoat,Grass,NaN,False,994,123,100,62,97,81,68,6
799,721,Volcanion,Fire,Water,True,1130,80,110,120,130,90,70,6

In [75]:
# Similar to upper, but dont care about caplocks as we use flags
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,553,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,False,666,62,50,58,73,54,72,6
736,668,Pyroar,Fire,Normal,False,908,86,68,72,109,66,106,6
740,672,Skiddo,Grass,NaN,False,648,66,65,48,62,57,52,6
741,673,Gogoat,Grass,NaN,False,994,123,100,62,97,81,68,6
799,721,Volcanion,Fire,Water,True,1130,80,110,120,130,90,70,6

In [79]:
# all pokemon nam estart with pik
df.loc[df['Name'].str.contains('pi[a-z]', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
13,10,Caterpie,Bug,NaN,False,345,45,30,35,20,20,45,1
20,16,Pidgey,Normal,Flying,False,446,40,45,40,35,35,56,1
21,17,Pidgeotto,Normal,Flying,False,627,63,60,55,50,50,71,1
22,18,Pidgeot,Normal,Flying,False,857,83,80,75,70,70,101,1
23,18,PidgeotMega Pidgeot,Normal,Flying,False,1037,83,80,80,135,80,121,1
30,25,Pikachu,Electric,NaN,False,550,35,55,40,50,50,90,1
42,37,Vulpix,Fire,NaN,False,533,38,41,40,50,65,65,1
76,70,Weepinbell,Grass,Poison,False,725,65,90,50,85,45,55,1
84,78,Rapidash,Fire,NaN,False,895,65,100,70,80,80,105,1
136,127,Pinsir,Bug,NaN,False,915,65,125,100,55,70,85,1
137,127,PinsirMega Pinsir,Bug,Flying,False,1095,65,155,120,65,90,105,1
181,167,Spinarak,Bug,Poison,False,470,40,60,40,40,40,30,2
186,172,Pichu,Electric,NaN,False,350,20,40,15,35,35,60,2
202,187,Hoppip,Grass,Flying,False,450,35,35,40,35,55,50,2
219,204,Pineco,Bug,NaN,False,565,50,65,90,35,35,15,2
239,221,Piloswine,Ice,Ground,False,850,100,100,80,60,60,50,2
266,247,Pupitar,Rock,Ground,False,769,70,84,70,65,70,51,2
345,316,Gulpin,Poison,NaN,False,564,70,43,53,43,53,40,3
357,326,Grumpig,Psychic,NaN,False,860,80,45,65,90,110,80,3
358,327,Spinda,Normal,NaN,False,660,60,60,60,60,60,60,3
359,328,Trapinch,Ground,NaN,False,570,45,100,45,45,45,10,3
390,357,Tropius,Grass,Flying,False,869,99,68,83,72,87,51,3
438,393,Piplup,Water,NaN,False,588,53,51,53,61,56,40,4
463,416,Vespiquen,Bug,Flying,False,908,70,80,102,80,102,40,4
488,440,Happiny,Normal,NaN,False,410,100,5,5,15,65,30,4
490,442,Spiritomb,Ghost,Dark,False,935,50,92,108,92,108,35,4
502,452,Drapion,Poison,Dark,False,905,70,90,110,60,75,95,4
557,498,Tepig,Fire,NaN,False,571,65,63,45,45,45,45,5
558,499,Pignite,Fire,Fighting,False,781,90,93,55,70,55,55,5
578,519,Pidove,Normal,Flying,False,485,50,55,50,36,30,43,5
596,536,Palpitoad,Water,Ground,False,699,75,65,55,65,55,69,5
716,648,MeloettaPirouette Forme,Normal,Fighting,False,1072,100,128,90,77,77,128,5
718,650,Chespin,Grass,NaN,False,588,56,61,65,48,45,38,6

In [80]:
# pi appear in the middle, them ^
df.loc[df['Name'].str.contains('^pi[a-z]', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
20,16,Pidgey,Normal,Flying,False,446,40,45,40,35,35,56,1
21,17,Pidgeotto,Normal,Flying,False,627,63,60,55,50,50,71,1
22,18,Pidgeot,Normal,Flying,False,857,83,80,75,70,70,101,1
23,18,PidgeotMega Pidgeot,Normal,Flying,False,1037,83,80,80,135,80,121,1
30,25,Pikachu,Electric,NaN,False,550,35,55,40,50,50,90,1
136,127,Pinsir,Bug,NaN,False,915,65,125,100,55,70,85,1
137,127,PinsirMega Pinsir,Bug,Flying,False,1095,65,155,120,65,90,105,1
186,172,Pichu,Electric,NaN,False,350,20,40,15,35,35,60,2
219,204,Pineco,Bug,NaN,False,565,50,65,90,35,35,15,2
239,221,Piloswine,Ice,Ground,False,850,100,100,80,60,60,50,2
438,393,Piplup,Water,NaN,False,588,53,51,53,61,56,40,4
558,499,Pignite,Fire,Fighting,False,781,90,93,55,70,55,55,5
578,519,Pidove,Normal,Flying,False,485,50,55,50,36,30,43,5

In [81]:
# Step 6 : Conditional Changes

In [86]:
# If type 1 = Fire, change to Flamer
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Type1
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1,NaN
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1,NaN
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1,NaN
4,4,Charmander,Fire,NaN,False,553,39,52,43,60,50,65,1,ooo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,1150,50,100,150,100,150,50,6,NaN
796,719,DiancieMega Diancie,Rock,Fairy,True,1290,50,160,110,160,110,110,6,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,True,1130,80,110,60,150,130,70,6,NaN
798,720,HoopaHoopa Unbound,Psychic,Dark,True,1280,80,160,60,170,130,80,6,NaN
799,721,Volcanion,Fire,Water,True,1130,80,110,120,130,90,70,6,ooo

In [90]:
# if type 1 = Fire, then Legendary = True
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Type1
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1,NaN
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1,NaN
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1,NaN
4,4,Charmander,Fire,NaN,True,553,39,52,43,60,50,65,1,ooo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,1150,50,100,150,100,150,50,6,NaN
796,719,DiancieMega Diancie,Rock,Fairy,True,1290,50,160,110,160,110,110,6,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,True,1130,80,110,60,150,130,70,6,NaN
798,720,HoopaHoopa Unbound,Psychic,Dark,True,1280,80,160,60,170,130,80,6,NaN
799,721,Volcanion,Fire,Water,True,1130,80,110,120,130,90,70,6,ooo

In [89]:
df.drop(columns = 'Type1')

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,True,553,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,1150,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,True,1290,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,1130,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,1280,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,1130,80,110,120,130,90,70,6

In [4]:
# multiple condition can be modified at a time
#if total > 500
df=pd.read_csv('modified.csv')
df

,Unnamed: 0,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
4,4,4,Charmander,Fire,NaN,False,553,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,True,1150,50,100,150,100,150,50,6
796,796,719,DiancieMega Diancie,Rock,Fairy,True,1290,50,160,110,160,110,110,6
797,797,720,HoopaHoopa Confined,Psychic,Ghost,True,1130,80,110,60,150,130,70,6
798,798,720,HoopaHoopa Unbound,Psychic,Dark,True,1280,80,160,60,170,130,80,6
799,799,721,Volcanion,Fire,Water,True,1130,80,110,120,130,90,70,6

# Step 6 : Aggregate Statistics ( Group by)

In [95]:
# Count average of HP + Attack of Pokemon then see which type is stronger than the other type

,Unnamed: 0,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
4,4,4,Charmander,Fire,NaN,False,553,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,True,1150,50,100,150,100,150,50,6
796,796,719,DiancieMega Diancie,Rock,Fairy,True,1290,50,160,110,160,110,110,6
797,797,720,HoopaHoopa Confined,Psychic,Ghost,True,1130,80,110,60,150,130,70,6
798,798,720,HoopaHoopa Unbound,Psychic,Dark,True,1280,80,160,60,170,130,80,6
799,799,721,Volcanion,Fire,Water,True,1130,80,110,120,130,90,70,6

In [99]:
df.groupby(['Type 1']).mean().sort_values('HP', ascending=False)

C:\Users\Admin\AppData\Local\Temp\ipykernel_10016\3320615934.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 1']).mean().sort_values('HP', ascending=False)

,Unnamed: 0,#,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,,,
Dragon,521.843750,474.375000,0.375000,1018.031250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000
Normal,351.581633,319.173469,0.020408,731.816327,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020
Fairy,494.529412,449.529412,0.058824,777.764706,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647
Ground,392.312500,356.281250,0.125000,811.093750,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250
Water,333.312500,303.089286,0.035714,794.946429,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
Ice,465.666667,423.541667,0.083333,803.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667
Flying,746.500000,677.750000,0.500000,867.500000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000
Psychic,420.105263,380.807018,0.245614,870.403509,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965
Fire,360.942308,327.403846,0.096154,841.711538,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538
Fighting,400.444444,363.851852,0.000000,766.814815,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370
Grass,380.414286,344.871429,0.042857,780.357143,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143
Poison,278.285714,251.785714,0.000000,734.714286,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714
Dark,507.387097,461.354839,0.064516,815.322581,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258
Rock,431.840909,392.727273,0.090909,851.590909,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545
Steel,486.296296,442.851852,0.148148,920.148148,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852
Ghost,536.281250,486.500000,0.062500,814.781250,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500
Electric,400.590909,363.500000,0.090909,802.318182,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727
Bug,368.072464,334.492754,0.000000,696.173913,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391

In [5]:
df['count'] = 1
#just count column
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [7]:
# group by multiple columns
df.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

In [8]:
# wwhen you work with big data. grooup by sum can help you to squeeze your data. Make it readable

In [9]:
# Working with large amounts of data | vd 20 gygabytes.
# pandas allows you to read data likne that

In [11]:
for df in pd=pd.read_csv('modifies.csv', chunksize=5)
    print("CHUNK DF")
    print(df)
# 5 rows are being part at a time

SyntaxError: invalid syntax (1387874105.py, line 1)

# DO IT AGAIN! 18 07 2023

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("D:\DA on da way\OverAll Course Lv1\Học thêm cá nhân\Luyen python truoc khoa 3\pokemon_data.csv")

# How to read file txt with '\' delimiter
poketxt = pd.read_csv("D:\DA on da way\OverAll Course Lv1\Học thêm cá nhân\Luyen python truoc khoa 3\pokemon_data_txt.txt", delimiter='\t')
poketxt.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
poke.head()
poke.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Reading data in Pandas

- iloc : filtering data

In [3]:
# Read Headers
df.columns

# Read each columns : 
df[['Name','HP','Attack','Defense']]
df[['Name']]

# Read each row
df.iloc[0:4] #range of row, using index

display(df.loc[(df.HP >=90) & (df.Attack >150)]) # condiion


display(df.loc[df['Type 1'] == 'Grass'])

#iloc :  stans for int location + to grab specific location

# Read a specific location(r,c)

# Iterrate :
#for index, row in df.iterrows():
#    print(index, row['Type 1'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False
313,289,Slaking,Normal,NaN,150,160,100,95,65,100,3,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
454,409,Rampardos,Rock,NaN,97,165,60,65,50,58,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False
543,486,Regigigas,Normal,NaN,110,160,110,80,110,100,4,True
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [13]:
# Homework Review

# loc bang iloc va loc
df.iloc[1,2]
df.loc[(df.HP >100) & (df.Attack <10)]
df['Sum HP & Attack'] = df.iloc[:,4:6].sum(axis=1)
df.head()

# Add column
#df['Total']= df.iloc[:,4:10].sum(axis=1)

#cols=list(df.columns)
#df=df[cols[0:4] + [cols[-1]] + cols[4:12]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum HP & Attack
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91

In [43]:
for index, row in df.iterrows():
    print(index, row['Type 1'])

0 Grass
1 Grass
2 Grass
3 Grass
4 Fire
5 Fire
6 Fire
7 Fire
8 Fire
9 Water
10 Water
11 Water
12 Water
13 Bug
14 Bug
15 Bug
16 Bug
17 Bug
18 Bug
19 Bug
20 Normal
21 Normal
22 Normal
23 Normal
24 Normal
25 Normal
26 Normal
27 Normal
28 Poison
29 Poison
30 Electric
31 Electric
32 Ground
33 Ground
34 Poison
35 Poison
36 Poison
37 Poison
38 Poison
39 Poison
40 Fairy
41 Fairy
42 Fire
43 Fire
44 Normal
45 Normal
46 Poison
47 Poison
48 Grass
49 Grass
50 Grass
51 Bug
52 Bug
53 Bug
54 Bug
55 Ground
56 Ground
57 Normal
58 Normal
59 Water
60 Water
61 Fighting
62 Fighting
63 Fire
64 Fire
65 Water
66 Water
67 Water
68 Psychic
69 Psychic
70 Psychic
71 Psychic
72 Fighting
73 Fighting
74 Fighting
75 Grass
76 Grass
77 Grass
78 Water
79 Water
80 Rock
81 Rock
82 Rock
83 Fire
84 Fire
85 Water
86 Water
87 Water
88 Electric
89 Electric
90 Normal
91 Normal
92 Normal
93 Water
94 Water
95 Poison
96 Poison
97 Water
98 Water
99 Ghost
100 Ghost
101 Ghost
102 Ghost
103 Rock
104 Psychic
105 Psychic
106 Water
107 Water
108 Electric
109 Electric
110 Grass
111 Grass
112 Ground
113 Ground
114 Fighting
115 Fighting
116 Normal
117 Poison
118 Poison
119 Ground
120 Ground
121 Normal
122 Grass
123 Normal
124 Normal
125 Water
126 Water
127 Water
128 Water
129 Water
130 Water
131 Psychic
132 Bug
133 Ice
134 Electric
135 Fire
136 Bug
137 Bug
138 Normal
139 Water
140 Water
141 Water
142 Water
143 Normal
144 Normal
145 Water
146 Electric
147 Fire
148 Normal
149 Rock
150 Rock
151 Rock
152 Rock
153 Rock
154 Rock
155 Normal
156 Ice
157 Electric
158 Fire
159 Dragon
160 Dragon
161 Dragon
162 Psychic
163 Psychic
164 Psychic
165 Psychic
166 Grass
167 Grass
168 Grass
169 Fire
170 Fire
171 Fire
172 Water
173 Water
174 Water
175 Normal
176 Normal
177 Normal
178 Normal
179 Bug
180 Bug
181 Bug
182 Bug
183 Poison
184 Water
185 Water
186 Electric
187 Fairy
188 Normal
189 Fairy
190 Fairy
191 Psychic
192 Psychic
193 Electric
194 Electric
195 Electric
196 Electric
197 Grass
198 Water
199 Water
200 Rock
201 Water
202 Grass
203 Grass
204 Grass
205 Normal
206 Grass
207 Grass
208 Bug
209 Water
210 Water
211 Psychic
212 Dark
213 Dark
214 Water
215 Ghost
216 Psychic
217 Psychic
218 Normal
219 Bug
220 Bug
221 Normal
222 Ground
223 Steel
224 Steel
225 Fairy
226 Fairy
227 Water
228 Bug
229 Bug
230 Bug
231 Bug
232 Bug
233 Dark
234 Normal
235 Normal
236 Fire
237 Fire
238 Ice
239 Ice
240 Water
241 Water
242 Water
243 Ice
244 Water
245 Steel
246 Dark
247 Dark
248 Dark
249 Water
250 Ground
251 Ground
252 Normal
253 Normal
254 Normal
255 Fighting
256 Fighting
257 Ice
258 Electric
259 Fire
260 Normal
261 Normal
262 Electric
263 Fire
264 Water
265 Rock
266 Rock
267 Rock
268 Rock
269 Psychic
270 Fire
271 Psychic
272 Grass
273 Grass
274 Grass
275 Grass
276 Fire
277 Fire
278 Fire
279 Fire
280 Water
281 Water
282 Water
283 Water
284 Dark
285 Dark
286 Normal
287 Normal
288 Bug
289 Bug
290 Bug
291 Bug
292 Bug
293 Water
294 Water
295 Water
296 Grass
297 Grass
298 Grass
299 Normal
300 Normal
301 Water
302 Water
303 Psychic
304 Psychic
305 Psychic
306 Psychic
307 Bug
308 Bug
309 Grass
310 Grass
311 Normal
312 Normal
313 Normal
314 Bug
315 Bug
316 Bug
317 Normal
318 Normal
319 Normal
320 Fighting
321 Fighting
322 Normal
323 Rock
324 Normal
325 Normal
326 Dark
327 Dark
328 Steel
329 Steel
330 Steel
331 Steel
332 Steel
333 Steel
334 Fighting
335 Fighting
336 Fighting
337 Electric
338 Electric
339 Electric
340 Electric
341 Electric
342 Bug
343 Bug
344 Grass
345 Poison
346 Poison
347 Water
348 Water
349 Water
350 Water
351 Water
352 Fire
353 Fire
354 Fire
355 Fire
356 Psychic
357 Psychic
358 Normal
359 Ground
360 Ground
361 Ground
362 Grass
363 Grass
364 Normal
365 Dragon
366 Dragon
367 Normal
368 Poison
369 Rock
370 Rock
371 Water
372 Water
373 Water
374 Water
375 Ground
376 Ground
377 Rock
378 Rock
379 Rock
380 Rock
381 Water
382 Water
383 Normal
384 Normal
385 Ghost
386 Ghost
387 Ghost
388 Ghost
389 Ghost
390 Grass
391 Psychic
392 Dark
393 Dark
394 Psychic
395 Ice
396 Ice
397 Ice
398 Ice
399 Ice
400 Ice
401 Water
402 Water
403 Water
404 Water
405 Water
406 Dragon
407 Dragon
408 Dragon
409 Dragon
410 Steel
411 Steel
412 Steel
413 Steel
414 Rock
415 Ice
416 Steel
417 Dragon
418 Dragon
419 Dragon
420 Dragon
421 Water
422 Water
423 Ground
424 Ground
425 Dragon
426 Dragon
427 Steel
428 Psychic
429 Psychic
430 Psychic
431 Psychic
432 Grass
433 Grass
434 Grass
435 Fire
436 Fire
437 Fire
438 Water
439 Water
440 Water
441 Normal
442 Normal
443 Normal
444 Normal
445 Normal
446 Bug
447 Bug
448 Electric
449 Electric
450 Electric
451 Grass
452 Grass
453 Rock
454 Rock
455 Rock
456 Rock
457 Bug
458 Bug
459 Bug
460 Bug
461 Bug
462 Bug
463 Bug
464 Electric
465 Water
466 Water
467 Grass
468 Grass
469 Water
470 Water
471 Normal
472 Ghost
473 Ghost
474 Normal
475 Normal
476 Normal
477 Ghost
478 Dark
479 Normal
480 Normal
481 Psychic
482 Poison
483 Poison
484 Steel
485 Steel
486 Rock
487 Psychic
488 Normal
489 Normal
490 Ghost
491 Dragon
492 Dragon
493 Dragon
494 Dragon
495 Normal
496 Fighting
497 Fighting
498 Fighting
499 Ground
500 Ground
501 Poison
502 Poison
503 Poison
504 Poison
505 Grass
506 Water
507 Water
508 Water
509 Grass
510 Grass
511 Grass
512 Dark
513 Electric
514 Normal
515 Ground
516 Grass
517 Electric
518 Fire
519 Fairy
520 Bug
521 Grass
522 Ice
523 Ground
524 Ice
525 Normal
526 Psychic
527 Psychic
528 Rock
529 Ghost
530 Ice
531 Electric
532 Electric
533 Electric
534 Electric
535 Electric
536 Electric
537 Psychic
538 Psychic
539 Psychic
540 Steel
541 Water
542 Fire
543 Normal
544 Ghost
545 Ghost
546 Psychic
547 Water
548 Water
549 Dark
550 Grass
551 Grass
552 Normal
553 Psychic
554 Grass
555 Grass
556 Grass
557 Fire
558 Fire
559 Fire
560 Water
561 Water
562 Water
563 Normal
564 Normal
565 Normal
566 Normal
567 Normal
568 Dark
569 Dark
570 Grass
571 Grass
572 Fire
573 Fire
574 Water
575 Water
576 Psychic
577 Psychic
578 Normal
579 Normal
580 Normal
581 Electric
582 Electric
583 Rock
584 Rock
585 Rock
586 Psychic
587 Psychic
588 Ground
589 Ground
590 Normal
591 Normal
592 Fighting
593 Fighting
594 Fighting
595 Water
596 Water
597 Water
598 Fighting
599 Fighting
600 Bug
601 Bug
602 Bug
603 Bug
604 Bug
605 Bug
606 Grass
607 Grass
608 Grass
609 Grass
610 Water
611 Ground
612 Ground
613 Ground
614 Fire
615 Fire
616 Fire
617 Grass
618 Bug
619 Bug
620 Dark
621 Dark
622 Psychic
623 Ghost
624 Ghost
625 Water
626 Water
627 Rock
628 Rock
629 Poison
630 Poison
631 Dark
632 Dark
633 Normal
634 Normal
635 Psychic
636 Psychic
637 Psychic
638 Psychic
639 Psychic
640 Psychic
641 Water
642 Water
643 Ice
644 Ice
645 Ice
646 Normal
647 Normal
648 Electric
649 Bug
650 Bug
651 Grass
652 Grass
653 Water
654 Water
655 Water
656 Bug
657 Bug
658 Grass
659 Grass
660 Steel
661 Steel
662 Steel
663 Electric
664 Electric
665 Electric
666 Psychic
667 Psychic
668 Ghost
669 Ghost
670 Ghost
671 Dragon
672 Dragon
673 Dragon
674 Ice
675 Ice
676 Ice
677 Bug
678 Bug
679 Ground
680 Fighting
681 Fighting
682 Dragon
683 Ground
684 Ground
685 Dark
686 Dark
687 Normal
688 Normal
689 Normal
690 Dark
691 Dark
692 Fire
693 Bug
694 Dark
695 Dark
696 Dark
697 Bug
698 Bug
699 Steel
700 Rock
701 Grass
702 Flying
703 Flying
704 Electric
705 Electric
706 Dragon
707 Dragon
708 Ground
709 Ground
710 Dragon
711 Dragon
712 Dragon
713 Water
714 Water
715 Normal
716 Normal
717 Bug
718 Grass
719 Grass
720 Grass
721 Fire
722 Fire
723 Fire
724 Water
725 Water
726 Water
727 Normal
728 Normal
729 Normal
730 Fire
731 Fire
732 Bug
733 Bug
734 Bug
735 Fire
736 Fire
737 Fairy
738 Fairy
739 Fairy
740 Grass
741 Grass
742 Fighting
743 Fighting
744 Normal
745 Psychic
746 Psychic
747 Psychic
748 Steel
749 Steel
750 Steel
751 Steel
752 Fairy
753 Fairy
754 Fairy
755 Fairy
756 Dark
757 Dark
758 Rock
759 Rock
760 Poison
761 Poison
762 Water
763 Water
764 Electric
765 Electric
766 Rock
767 Rock
768 Rock
769 Rock
770 Fairy
771 Fighting
772 Electric
773 Rock
774 Dragon
775 Dragon
776 Dragon
777 Steel
778 Ghost
779 Ghost
780 Ghost
781 Ghost
782 Ghost
783 Ghost
784 Ghost
785 Ghost
786 Ghost
787 Ghost
788 Ice
789 Ice
790 Flying
791 Flying
792 Fairy
793 Dark
794 Dragon
795 Rock
796 Rock
797 Psychic
798 Psychic
799 Fire

# Soring / Describing Data

In [55]:
df.describe()

df.sort_values('Name', ascending=False)

df.sort_values(['Name', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

# Making changes to data

In [1]:
# Drop columns
# df=df.drop(columns=['name'])

In [8]:
# Add column
df['Total']= df.iloc[:,4:10].sum(axis=1)

cols=list(df.columns)
df=df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Saving our Data ( Exporting into Desired Format)

In [16]:
df.to_csv('modified.csv', index=False, sep='\t')

# Filtering Data ( advanced)

In [17]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum HP & Attack
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,240
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,190

In [42]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Defense'] > 60) & (df['Attack'] >= 45)]
new_df.reset_index(drop=True, inplace=True)

new_df

# filter words contains "Mega" or reverse Mega(~)
df.loc[~df['Name'].str.contains('Mega')]
# y nghia: 
#  drop= True : drop index column cu
# inplace=True : update luon vao file new_df


# Regular expression : filtering data based on certain textual pattern ( very very strong)

import re

# filter Type 1 contains grass| fire, ignore caplock casee
df.loc[df['Type 1'].str.contains('grass|fire', flags=re.I, regex=True)]

# filter Type 1 contains Pi
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)].reset_index(drop=True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum HP & Attack
0,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,85
1,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,123
2,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,163
3,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,163
4,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,90
5,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,190
6,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,220
7,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,60
8,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,115
9,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,200
10,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,104
11,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,183
12,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,105

# Conditional Changes

In [55]:
# Neu Type 1 = 'Flamer, thi trong column type1, doi thanh 'Flamer'
df.loc[df['Type 1']== 'Fire', 'Type 1'] = 'Flamer'

# Tra lai du lieu cu
df.loc[df['Type 1']== 'Flamer', 'Type 1'] = 'Fire'

# Use condition to set parameter of another column.
# VD : If Type 1 = 'Flamer', value of column 'Legendary' = True

df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

# Change multiple parameter at a time
df.loc[df['Speed'] >= 50, ['Generation','Legendary']] = ['Test','Another Test']

df=pd.read_csv('modified.csv')

In [46]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Sum HP & Attack
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,240
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,6,True,190

# Aggregate Statistics ( Groupby)

In [15]:
# the avg(hp,attack) of all pokemon grouped by which type they are
df.groupby(['Type 1']).mean()[['HP','Attack']].sort_values(['HP','Attack'], ascending=[1,0])

#count
df['count']=1
df.groupby(['Type 1', 'Type 2']).count()['count']

C:\Users\Admin\AppData\Local\Temp\ipykernel_184\571733146.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 1']).mean()[['HP','Attack']].sort_values(['HP','Attack'], ascending=[1,0])

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

# Working with large amounts of data